<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style type="text/css">
      a {
        color: #ffffff;
        font-size: 1.4rem;
      }
      .bs-example {
        margin: 0px;
      }
      .bg-dark {
        background-color: #212529 !important;
      }
      .navbar-brand {
        font-size: 20px;
        font-family: sans-serif;
      }
      font {
        /* font-family: "Roboto"; */
        font-family: "PT Serif", serif;
        font-weight: 3rem;
      }
    </style>
  </head>

  <body>
    <div class="bs-example">
      <nav
        class="navbar navbar-expand-md navbar-dark fixed-top bg-danger"
        style="background-color: #212529"
      >
        <a style="color: #ffffff; text-decoration: none" href="/"
          ><font face="verdana" size="7">QuizzYou</font><br
        /></a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav"></div>

          <div class="navbar-nav">
            <a
              style="padding-left: 30px"
              href="/"
              class="nav-item nav-link active"
            >
              Home</a
            >
            <a href="/student/studentclick" class="nav-item nav-link"
              >Student</a
            >
            <a href="/adminclick" class="nav-item nav-link">Admin</a>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
